{% if g.search_background %}
  {% set background = g.search_background %}
{% else %}
  {% set background = '/exat/images/bg-banner.jpg' %}
{% endif %}

<div role="main">
  <div role="main" class="main hero" style="background-image: url('{{ background }}')">
      <div class="container">
          <div class="row row1">
            <div class="col-md-6 col1">
              {% block promoted %}
                {% snippet 'home/snippets/promoted.html' %}
              {% endblock %}
            </div>
            <div class="col-md-6 col2" style="position: unset;">
              {% block search %}
                {% snippet 'home/snippets/search.html' %}
              {% endblock %}
            </div>
          </div>
        </div>
  </div>
  </div>
  <div role="main">
    <div class="container">
      <div class="row row2">
        {% block featured_group %}
        {% set category_dict = h.scheming_group_schemas() %}
        {% if category_dict and category_dict.keys()|length %}
          {% snippet 'home/snippets/multi_groups.html', category_dict=category_dict %}
        {% else %}
          {% set stats = h.get_site_statistics() %}
          {% snippet 'home/snippets/groups.html', stats=stats %}
        {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
  {% block layout_extra %}
  {% set event_conf = h.gdc_agency_get_conf_group('EVENT') %}
  {% if event_conf.EVENT_PUBLIC and event_conf.EVENT_PUBLIC == 'True' %}

      {% if event_conf.EVENT_IMAGE %}
      <div class="modal fade" id="homeEventModal" role="dialog">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                      <img src="{{event_conf.EVENT_IMAGE}}" style="width:100%" alt="event popup banner image">
                  </div>
                  {% if event_conf.EVENT_URL and event_conf.EVENT_URL != '' %}
                  <div class="modal-footer">
                      <a href="{{event_conf.EVENT_URL}}" class="btn btn-success" target="_blank">
                          {{event_conf.EVENT_TEXT if event_conf.EVENT_TEXT else 'เพิ่มเติม'}}
                      </a>
                  </div>
                  {% endif %}
              </div>
          </div>
      </div>
      <script>
          setTimeout(() => {
              $("#homeEventModal").modal('show');
          }, 500)
      </script>
      {% endif %}
  {% endif %}
{% endblock %}