{% ckan_extends %}
{% set homepages = [{'text': 'EXAT', 'value': '1'}, {'text': 'Introductory area, search and stats', 'value': '2'}, {'text': 'Introductory area and search', 'value': '3'}] %}

{% block admin_form %}
    
    {{ form.input('ckan.site_title', id='field-ckan-site-title', label=_('Site Title'), value=data['ckan.site_title'], error=error, classes=['control-medium']) }}

    {{ form.input('ckan.site_description', id='field-ckan-site-description', label=_('Site Tag Line'), value=data['ckan.site_description'], error=error, classes=['control-medium']) }}

    {% set field_url = 'ckan.site_logo' %}
    {% set is_upload = data[field_url] and not data[field_url].startswith('http') %}
    {% set is_url = data[field_url] and data[field_url].startswith('http') %}
    {{ form.image_upload(data, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url, is_upload=is_upload, upload_label = _('Site logo'), url_label=_('Site logo'),  field_url=field_url, field_upload='logo_upload', field_clear='clear_logo_upload' )}}

    {% if h.ckan_version().split('.')[1] | int <= 9 and h.ckan_version().split('.')[2] | int < 6 %} 
      {{ form.select('ckan.main_css', id='field-ckan-main-css', label=_('Style'), options=styles, selected=data['ckan.main_css'], error=error) }}
    {% else %}
      {{ form.select('ckan.theme', id='field-ckan-main-css', label=_('Style'), options=styles, selected=data['ckan.theme'], error=error) }}
    {% endif %}

    {{ form.select('ckan.homepage_style', id='field-homepage-style', label=_('Homepage'), options=homepages, selected=data['ckan.homepage_style'], error=error) }}

    {{ form.textarea('ckan.site_custom_css', id='field-ckan-site-custom-css', label=_('Custom CSS'), value=data['ckan.site_custom_css'], error=error, placeholder=_('Customisable css inserted into the page header')) }}

    {{ form.markdown('ckan.site_intro_text', id='field-ckan-site-intro-text', label=_('Intro Text'), value=data['ckan.site_intro_text'], error=error, placeholder=_('Text on home page')) }}

    {{ form.markdown('ckan.site_about', id='field-ckan-site-about', label=_('About'), value=data['ckan.site_about'], error=error, placeholder=_('About page text')) }}

      {{ form.markdown('ckan.site_org_address', id='field-ckan-site-org-address', label='ที่อยู่หน่วยงาน (footer)', value=data['ckan.site_org_address'], error=error, classes=['control-medium']) }}

      {{ form.markdown('ckan.site_org_contact', id='field-ckan-site-org-contact', label='เบอร์โทรหน่วยงาน (footer)', value=data['ckan.site_org_contact'], error=error, classes=['control-medium']) }}

      {{ form.markdown('ckan.site_org_email', id='field-ckan-site-org-email', label='อีเมลหน่วยงาน (footer)', value=data['ckan.site_org_email'], error=error, classes=['control-medium']) }}

      {{ form.markdown('ckan.site_policy_link', id='field-ckan-site-policy-link', label='รวมลิ้งค์นโยบายเว็บไซต์ (footer)', value=data['ckan.site_policy_link'], error=error, classes=['control-medium']) }}

{% endblock %}
 