{% extends "page.html" %}

{% block subtitle %}{{ _('Change Password') }}{% endblock %}

{% block breadcrumb_content %}
<li class="active">{{ h.nav_link(_('Change Password'), named_route='exat.change_password') }}</li>
{% endblock %}

{% block primary_content %}
<section class="module">
    <div class="module-content">
        <h1 class="page-heading">{% block page_heading %}{{ _('Change Password') }}{% endblock %}</h1>
        {% block form %}
        {% snippet "exat/snippets/change_password_form.html", error_summary=error_summary %}
        {% endblock %}
    </div>
</section>
{% endblock %}

{% block secondary_content %}
{% block help_guest %}
<section class="module module-narrow module-shallow">
    {% block help_guest_login %}
    <h2 class="module-heading">{{ _('Password Expired') }}</h2>
    <div class="module-content">
        <p>{% trans %}No problem, use our password form to change it.{% endtrans %}</p>
    </div>
    <h2 class="module-heading">{{ _('Personnel') }}</h2>
    <div class="module-content">
        <p>{% trans %}Loig page for EXAT personnel.{% endtrans %}</p>
        <p class="action">
            <a class="btn btn-default" href="{{ h.url_for('exat.login') }}">{{ _('Log in (EXAT)') }}</a>
        </p>
    </div>
    {% endblock %}
</section>
{% endblock %}
{% endblock %}