{% extends "page.html" %}

{% block subtitle %}{{ _("Site Statistics") }}{% endblock %}
{% block breadcrumb_content %}
<li class="active"><a href="/site_stats">{{ _('Site Statistics') }}</a></li>
{% endblock %}


{% block primary_content %}
<article class="module">
    {% set date_format="%d-%m-%Y %H:%M:%S" %}

    {% if h.check_access('sysadmin') %}

    <section id="stats-user-access-list" class="module-content tab-content">
        <h2>{{ _('User Access List') }}</h2>
        {% if user_access_list %}
        {% for year in h.date_range() %}
        <h3>{{ year }}</h3>
        <table class="table table-chunky table-bordered table-striped">
            <thead>
                <tr>
                    <th>{{ _('Username') }}</th>
                    <th>{{ _('SysAdmin') }}</th>
                    <th class="metric">{{ _('Organizational Role') }}</th>
                    <th class="metric">Last Activity</th>
                </tr>
            </thead>
            <tbody>
    
                {% for user,sysadmin,role,last_activity,orgs in user_access_list %}
                {% if year == last_activity.year %}
                <tr>
                    <td>{{ h.link_to(user.display_name or user.name, h.url_for(controller='user', action='read',
                        id=user.name)) }}
    
                    </td>
                    <td>{{ sysadmin }}</td>
                    <td>{{ role }}<br />
                        {% if orgs[0] %}
                        {% for org in orgs %}
                        {% set org_obj = h.get_organization(org) %}
                        {{ h.link_to(org_obj['title'], h.url_for(controller='organization', action='read', id=org)) }}
                        {% endfor %}
                        {% endif %}
                    </td>
                    <td>{{ last_activity.strftime(date_format) }}</td>
                </tr>
                {% endif %}
                {% endfor %}
    
            </tbody>
        </table>
        {% endfor %}
        {% else %}
        <p class="empty">{{ _('No groups') }}</p>
        {% endif %}
    </section>

    <section id="stats-users-by-organisation" class="module-content tab-content">
        <h2>{{ _('Users by Organization') }}</h2>
        {% if users_by_organisation %}
        {%set sysadmins = False %}
        <a style="float:right;   margin-bottom: 10px;" class="btn" href="#"
            onClick="$('#users_by_organisation').tableExport({type:'csv',escape:'false', tableName:'users_by_organization'});">Export
            as CSV</a>
        <!--<a style="float:right;   margin-bottom: 10px;   margin-right: 10px;" class="btn btn-excel" href="#"
                     onClick ="$('#users_by_organisation').tableExport({type:'excel', tableName:'users_by_organisation', escape:'false', htmlContent:'true'});">Export as XLSX</a>-->
    
        <table class="table table-chunky table-bordered table-striped" id="users_by_organisation">
            <thead>
                <tr>
                    <th class="metric">{{ _('Organization') }}</th>
                    <th>{{ _('User') }}</th>
                    <th>{{ _('User Login') }}</th>
                    <th>{{ _('User Email') }}</th>
                    <th>{{ _('Role') }}</th>
                    <th>Sysadmin</th>
                </tr>
            </thead>
            <tbody>
                {% for org,user,role,sysadmin in users_by_organisation %}
                <tr>
                    <td>{{ h.link_to(org.title, h.url_for(controller='organization', action='read', id=org.name)) }}</td>
                    <td>{{ h.link_to(user.display_name or user.name, h.url_for(controller='user', action='read',
                        id=user.name)) }}
                    </td>
                    <td>{{ h.link_to(user.name, h.url_for(controller='user', action='read', id=user.name)) }}</td>
                    <td>{{ h.link_to(user.email, h.url_for(controller='user', action='read', id=user.name)) }}</td>
                    <td>{{ role }}<br /></td>
                    <td>{{ sysadmin }}<br /></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="empty">{{ _('No groups') }}</p>
        {% endif %}
    </section>

    {% endif %}

    <section id="stats-recent-created-datasets" class="module-content tab-content">
        <h2>{{ _('Recently Created Datasets') }}</h2>
        {% if recent_created_datasets %}
        <a style="float:right;   margin-bottom: 10px;" class="btn" href="#"
            onClick="$('#recent-created-datasets').tableExport({type:'csv',escape:'false', tableName:'recently-created-datasets'});">Export
            as CSV</a>
        <!--<a style="float:right;   margin-bottom: 10px;   margin-right: 10px;" class="btn btn-excel" href="#"
                 onClick ="$('#recent-created-datasets').tableExport({type:'excel', tableName:'recently-created-datasets', escape:'false', htmlContent:'true'});">Export as XLSX</a>-->
        <table class="table table-chunky table-bordered table-striped" id="recent-created-datasets">
            <thead>
                <tr>
                    <th>{{ _('Date') }}</th>
                    <th>{{ _('Dataset') }}</th>
                    {% if h.check_access('sysadmin') %}
                    <th>{{ _('User') }}</th>
                    {% endif %}
                    <th>{{ _('Organization') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for date,package,group,user in recent_created_datasets|reverse() %}
                <tr>
                    <td>{{ date.strftime(date_format) }}</td>
                    <td>{{ h.link_to(package.title or package.name, h.url_for('%s.read' % package.type, id=package.name)) }}
                    </td>
                    {% if h.check_access('sysadmin') %}
                    <td>{{ h.link_to(user.display_name or user.name, h.url_for(controller='user', action='read',
                        id=user.name)) }} <br />{{user.email}}</td>
                    {% endif %}
    
                    <td>{{h.link_to(group.title or group.name, h.url_for(controller='organization', action='read',
                        id=group.name)) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="empty">{{ _('No changes in the last %s days' | format(recent_period)) }}</p>
        {% endif %}
    </section>

    <section id="stats-recent-updated-datasets" class="module-content tab-content">
        <h2>{{ _('Recently Updated Datasets') }}</h2>
        {% if recent_updated_datasets %}
        <a style="float:right;   margin-bottom: 10px;" class="btn" href="#"
            onClick="$('#recent-updated-datasets').tableExport({type:'csv', tableName:'recently-updated-datasets', escape:'false'});">Export
            as CSV</a>
        <!--<a style="float:right;   margin-bottom: 10px;   margin-right: 10px;" class="btn btn-excel" href="#"
               onClick ="$('#recent-updated-datasets').tableExport({type:'excel', tableName:'recently-updated-datasets', escape:'false', htmlContent:'true'});">Export as XLSX</a>-->
        <table class="table table-chunky table-bordered table-striped" id="recent-updated-datasets">
            <thead>
                <tr>
                    <th>{{ _('Date') }}</th>
                    <th>{{ _('Dataset') }}</th>
                    {% if h.check_access('sysadmin') %}
                    <th>{{ _('User') }}</th>
                    {% endif %}
                    <th>{{ _('Organization') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for date,package,group,user in recent_updated_datasets|reverse() %}
                <tr>
                    <td>{{ date.strftime(date_format) }}</td>
                    <td>{{ h.link_to(package.title or package.name, h.url_for('%s.read' % package.type, id=package.name)) }}
                    </td>
                    {% if h.check_access('sysadmin') %}
                    <td>{{ h.link_to(user.display_name or user.name, h.url_for(controller='user', action='read',
                        id=user.name)) }} <br />{{user.email}}</td>
                    {% endif %}
                    <td>{{h.link_to(group.title or group.name, h.url_for(controller='organization', action='read',
                        id=group.name)) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="empty">{{ _('No changes in the last %s days' | format(recent_period)) }}</p>
        {% endif %}
    </section>

    <section id="stats-most-edited" class="module-content tab-content">
        <h2>{{ _('Most Edited Datasets') }}</h2>
        {% if most_edited_packages %}
        <table class="table table-chunky table-bordered table-striped">
            <thead>
                <tr>
                    <th>{{ _('Dataset') }}</th>
                    <th class="metric">{{ _('Number of edits') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for package, edits in most_edited_packages %}
                <tr py:for="package, edits in most_edited_packages">
                    <td>{{ h.link_to(package.title or package.name, h.url_for('%s.read' % package.type, id=package.name)) }}
                    </td>
                    <td class="metric">{{ edits }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="empty">{{ _('No edited datasets') }}</p>
        {% endif %}
    </section>

    <section id="stats-most-create" class="module-content tab-content">
        <h2>{{ _('Users Creating Most Datasets') }}</h2>
        <table class="table table-chunky table-bordered table-striped">
            <thead>
                <tr>
                    <th>{{ _('User') }}</th>
                    <th class="metric">{{ _('Number of Datasets') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for user, num_packages in top_package_owners %}
                <tr>
                    <td class="media">{{ h.linked_user(user) }}</td>
                    <td class="metric">{{ num_packages }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <section id="stats-by-org" class="module-content tab-content">
        <h2>{{ _('Datasets by Organization') }}</h2>
        {% if by_org %}
        <table class="table table-chunky table-bordered table-striped">
            <thead>
                <tr>
                    <th>{{ _('Organization') }}</th>
                    <th>{{ _('Public/Private') }}</th>
                    <th class="metric">{{ _('Number of Datasets') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for group,private, num_packages in by_org %}
                {% if private == False or h.check_access('sysadmin') %}
                <tr>
                    <td>{{ h.link_to(group.title or group.name, h.url_for(controller='organization', action='read',
                        id=group.name)) }}</td>
                    {% if private == True %}
                    <td>Private</td>
                    {% else %}
                    <td>Public</td>
                    {% endif %}
                    <td class="metric">{{ num_packages }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="empty">{{ _('No groups') }}</p>
        {% endif %}
    </section>

    <section id="stats-res-by-org" class="module-content tab-content">
        <h2>{{ _('Resources by Organization') }}</h2>
        {% if res_by_org %}
        <table class="table table-chunky table-bordered table-striped">
            <thead>
                <tr>
                    <th>{{ _('Organization') }}</th>
                    <th>{{ _('Tabular') }}</th>
                    <th>{{ _('Spatial') }}</th>
                    <th>{{ _('Other') }}</th>
                    <th class="metric">{{ _('Total') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for group,t,s,o,tot in res_by_org %}
                <tr>
                    <td>{{ h.link_to(group.title or group.name, h.url_for(controller='organization', action='read',
                        id=group.name)) }}</td>
                    <td>{{ t }}</td>
                    <td>{{ s }}</td>
                    <td>{{ o }}</td>
                    <td class="metric">{{ tot }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="empty">{{ _('No groups') }}</p>
        {% endif %}
    </section>

    <section id="stats-largest-groups" class="module-content tab-content">
        <h2>{{ _('Largest Groups') }}</h2>
        {% if largest_groups %}
        <table class="table table-chunky table-bordered table-striped">
            <thead>
                <tr>
                    <th>{{ _('Group') }}</th>
                    <th class="metric">{{ _('Number of Datasets') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for group, num_packages in largest_groups %}
                <tr>
                    <td>{{ h.link_to(group.title or group.name, h.url_for(controller='group', action='read', id=group.name))
                        }}</td>
                    <td class="metric">{{ num_packages }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="empty">{{ _('No groups') }}</p>
        {% endif %}
    </section>

    <section id="stats-top-tags" class="module-content tab-content">
        <h2>{{ _('Top Tags') }}</h2>
        <table class="table table-chunky table-bordered table-striped">
            <thead>
                <tr>
                    <th>{{ _('Tag Name') }}</th>
                    <th class="metric">{{ _('Number of Datasets') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for tag, num_packages in top_tags %}
                <tr>
                    <td>{{ h.link_to(tag.name, h.url_for('dataset.search', tags=tag.name)) }}</td>
                    <td class="metric">{{ num_packages }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <section id="popular-datasets" class="module-content tab-content">
        <h2>{{ _('Popular Datasets') }}</h2>
        {% if popular_datasets %}
        <table class="table table-chunky table-bordered table-striped">
            <thead>
                <tr>
                    <th>{{ _('Dataset') }}</th>
                    <th class="metric">{{ _('Recent Views') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for p in popular_datasets %}
                <tr>
                    <td>{{ h.link_to(p.title or p.name, h.url_for('dataset.read', id=p.name)) }}</td>
                    <td class="metric">{{ p.recent_views }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="empty">{{ _('No datasets') }}</p>
        {% endif %}
    </section>

    <section id="daily-view-datasets" class="module-content tab-content">
        <h2>{{ _('Daily Views Datasets') }}</h2>
        {% if daily_view_datasets %}
        {% for view in daily_view_datasets %}
        <h3>{{ view.formatted_date }}</h3>
        <table class="table table-chunky table-bordered table-striped">
            <thead>
                <tr>
                    <th>{{ _('Dataset') }}</th>
                    <th class="metric">{{ _('Daily Views') }}</th>
                    <th class="metric">{{ _('Recent Views') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for ds in view.datasets %}
                <tr>
                    <td>{{ h.link_to(ds.title or ds.name, h.url_for('dataset.read', id=ds.name)) }}</td>
                    <td class="metric">{{ ds.count }}</td>
                    <td class="metric">{{ ds.recent_views }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
        {% else %}
        <p class="empty">{{ _('No datasets') }}</p>
        {% endif %}
    </section>

    <section id="daily-download-resources" class="module-content tab-content">
        <h2>{{ _('Daily Downloads Resources') }}</h2>
        {% if daily_download_resources %}
        {% for d in daily_download_resources %}
        <h3>{{ d.formatted_date }}</h3>
        <table class="table table-chunky table-bordered table-striped">
            <thead>
                <tr>
                    <th>{{ _('Dataset') }}</th>
                    <th>{{ _('Resource') }}</th>
                    <th class="metric">{{ _('Daily Downloads') }}</th>
                    <th class="metric">{{ _('Recent Downloads') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for r in d.resources %}
                <tr>
                    <td>{{ h.link_to(r.package_title or r.package_name, h.url_for('dataset.read', id=r.package_name)) }}</td>
                    <td>{{ h.link_to(r.resource_name, h.url_for('dataset.read', id=r.package_name) + '''/resource/{}'''.format(r.resource_id)) }}</td>
                    <td class="metric">{{ r.count }}</td>
                    <td class="metric">{{ r.recent_views }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
        {% else %}
        <p class="empty">{{ _('No datasets') }}</p>
        {% endif %}
    </section>

    <section id="stats-summary" class="module-content tab-content active">
        <h2>{{ _('Summary Statistic') }}</h2>
        {% if summary_stats %}
        <table class="table table-chunky table-bordered table-striped">
            <thead>
                <tr>
                    <th>{{ _('Site Statistics') }}</th>
                    <th class="metric">{{ _('Value') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for measure,value in summary_stats %}
                {% if 'Archived' not in measure or h.check_access('sysadmin') %}
                <tr>
                    <td>{{measure}}</td>
                    <td class="metric">{{ value }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="empty">{{ _('No groups') }}</p>
        {% endif %}
    </section>


</article>
{% endblock %}


{% block secondary_content %}
<section class="module module-narrow">
    <h2 class="module-heading"><i class="icon-bar-chart icon-medium"></i> {{ _('Statistics Menu') }}</h2>
    <nav data-module="stats-nav">
        <ul class="unstyled nav nav-simple">
            {% if h.check_access('sysadmin') %}
            <li class="nav-item"><a href="#stats-user-access-list" data-toggle="tab">{{ _('User Access List') }}</a></li>
            <li class="nav-item"><a href="#stats-users-by-organisation" data-toggle="tab">{{ _('Users by Organization') }}</a></li>
            {% endif %}
            <li class="nav-item"><a href="#stats-recent-created-datasets" data-toggle="tab">{{ _('Recently Created Datasets') }}</a></li>
            <li class="nav-item"><a href="#stats-recent-updated-datasets" data-toggle="tab">{{ _('Recently Updated Datasets') }}</a></li>
            <li class="nav-item"><a href="#stats-most-edited" data-toggle="tab">{{ _('Most Edited Datasets') }}</a></li>
            <li class="nav-item"><a href="#stats-most-create" data-toggle="tab">{{ _('Users Creating Most Datasets') }}</a></li>
            <li class="nav-item"><a href="#stats-by-org" data-toggle="tab">{{ _('Datasets by Organization') }}</a></li>
            <li class="nav-item"><a href="#stats-res-by-org" data-toggle="tab">{{ _('Resources by Organization') }}</a></li>
            <li class="nav-item"><a href="#stats-largest-groups" data-toggle="tab">{{ _('Largest Groups') }}</a></li>
            <li class="nav-item"><a href="#stats-top-tags" data-toggle="tab">{{ _('Top Tags') }}</a></li>
            <li class="nav-item"><a href="#popular-datasets" data-toggle="tab">{{ _('Popular Datasets') }}</a></li>
            <li class="nav-item"><a href="#daily-view-datasets" data-toggle="tab">{{ _('Daily Views Datasets') }}</a></li>
            <li class="nav-item"><a href="#daily-download-resources" data-toggle="tab">{{ _('Daily Downloads Resources') }}</a></li>  
            <li class="nav-item active"><a href="#stats-summary" data-toggle="tab">{{ _('Summary Statistic') }}</a></li>
        </ul>
    </nav>
</section>
{% endblock %}


{% block scripts %}
{{ super() }}
{#
Hellish hack to get excanvas to work in IE8. We disable html5shiv from
overriding the createElement() method on this page.
See: http://stackoverflow.com/questions/10208062/using-flot-with-bootstrap-ie8-incompatibility
#}
{#% resource "vendor/block_html5_shim" %#}
{% resource "ckanext_dga_stats/stats" %}
{% endblock %}