{% import 'macros/form.html' as form %}

{% set username_error = true if error_summary %}
{% set old_password_error = true if error_summary %}
{% set password1_error = true if error_summary %}
{% set password2_error = true if error_summary %}

<form action="/exat/change_password" method="post">
    {{ form.errors(errors=error_summary) }}

    {{ form.input('login', label=_("Employee ID"), id='field-login', value="", error=username_error, attrs={'autocomplete': 'off', 'class': 'form-control'}, classes=["control-medium"]) }}

    {{ form.input('old_password', label=_("Current Password"), id='field-password', type="password", value="", error=old_password_error, classes=["control-medium"]) }}
    {{ form.input('password1', label=_("New Password"), id='field-password', type="password", value="", error=password1_error, classes=["control-medium"]) }}
    {{ form.input('password2', label=_("Confirm New Password"), id='field-password', type="password", value="", error=password2_error, classes=["control-medium"]) }}

    <div class="form-actions">
    {% block login_button %}
    <button class="btn btn-primary" type="submit">{{ _('Change Password') }}</button>
    {% endblock %}
    </div>
</form>
    